$border-color: #dbe2ea;
$background-color: whitesmoke;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: row;
}

#tools-bar {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100px;
    height: 100%;
    padding: 20px 10px;

    background-color: white;
    border-right: 1px solid $border-color;

    .tools {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;



        p {
            align-self: flex-start;
            font-weight: bold;
        }

        .tool-btn {
            width: 40px;
            height: 40px;
            border-radius: 2px;
            cursor: pointer;


            &:hover {
                filter: invert(26%) sepia(99%) saturate(3213%) hue-rotate(229deg) brightness(101%) contrast(93%);
            }
        }
    }



    #logo {
        @keyframes LogoRotation {
            0% {
                transform: rotate3d(4, 6, 2, 360deg);
            }
        }

        font-size: 24px;
        animation: LogoRotation forwards 5s infinite;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        border-bottom: 2px solid $border-color;
    }
}

#slider-canvas {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 16px;
    justify-content:space-between;

    background-color: $background-color;


    #config-bar {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 20px 32px;

        background-color: white;
        border-bottom: 1px solid $border-color;
    }
    
    #tabs {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 20px 32px;
        border-top: 1px solid $border-color;
        background-color: white;
    
        .tab {
            width:  80px;
            height: 60px;
            border-radius: 2px;
            border: 1px solid $border-color;
            cursor: pointer;
        }

        .add-tab { 
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 20px;
                opacity: 0.4;
            }
        }

    }

}



#edit-slider {
    display: block;
    width: calc(800px  * 1.2);
    height: calc(600px * 1.2);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    outline: 1px solid $border-color ;
    min-width: 1200px;

    background-color: white;


}

#add-slider-btn {
    width: fit-content;
    height: fit-content;
    display: block;

    .add-icon {
        cursor: pointer;
    }
}


.text-element {
    background: transparent;
    border: none;
    outline: 1px solid $border-color;
    padding: 10px;
    border-radius: 1px;
    font-size: 20px;
    min-width: 4px;
    text-decoration: none;
    overflow-wrap: break-word;
    width: 200px;

    &:not(:focus) {
        outline: none;
    }
}

.text-element-unfoced {
    cursor: pointer;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */


    &:hover {
        outline: 1px solid $border-color;

    }
}

.image-element {
    outline: 1px solid $border-color;
    cursor: pointer;
}

.input-area-box {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 32px;
    }

    .number-input {
        width: 54px;
        padding: 6px;
        outline: none;
        border: 1px solid $border-color;
        border-radius: 2px;
        cursor: pointer;
    }
}


